{% extends "layout.njk" %}
{% block head %}

    <link rel="stylesheet" href="/courses.css">


    <title>RocketSeat - Conteúdos</title>
{% endblock head %}

{% block content %}
<div class="conteudo">
    <h1>Cursos</h1>
</div>

<section class="cards">

    {% for course in courses %}
    <div class="card" id="{{course.id}}">
        <div class="card-image">
            <img src={{course.image_url}} alt="">
        </div>
        <div class="card-content">
            <p>{{course.title}}</p>
            <span>{{course.description}}</span>
        </div>
        <div class="card-info">
            <p>{{course.modules}} Módulos</p>
            <p class="price">{{course.price}}</p>
        </div>
    </div>   
    {% endfor %}
</section>

<script src="courses.js"></script>

{% endblock content %}