{% extends "layout.njk" %}

{% block head %}
    <title>Private Classes - Teachers</title>

{% endblock %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/517198/600x600) no-repeat "></section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome</div>
                <div>Rodrigo Pereira Sampaio</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>23</div>
            </div>

            <div class="item">
                <div>Grau de escolarida</div>
                <div>Bacharel</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>Presencial</div>

            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <span>Matemática</span>
                <span>Espanhol</span>

            </div>

            <div class="item">
                <div>Desde</div>
                <div>02/04/2018</div>
            </div>
        </section>
    </div>

{% endblock %}